body {
  font: 13px Helvetica, Arial;
}

#output{
  display: flex;
}

#messages {
  list-style-type: none;
  flex: 2 1 60%;
  min-height: 50%;
  background-color: blue;
}

#users{
  list-style-type: none;
  flex: 1 2 40%;
  min-height: 50%;
  background-color: green;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
